$backround-grey:  #D9D9D9;
$one:       #35A255 !default;
$two:       #bb2f00 !default;



@mixin layout-position {   
    display: block;
    grid-area: main;
};

@mixin cards {
        width: 20vw;
}