@import '../../../styles/mixins';

:host{
    @include layout-position;
}

.checklist{
    width: 95%;
    margin-top: 1em;

    .create-button{
        width: 100%;
        height: 8vh;
        margin: 1em;
        background-color: white;
        color: #7C6BA7;
    }
    
    .checklist-container-card{
        display: flex;
        flex-direction: row;
        margin: 1em;
        gap: 2em;
    }
}