<mat-toolbar>
  <div class="logo">
    <a  href=""><img src="../../../assets/icons/light-eyes-logo 1.png" alt="light-eyes-logo"></a>
    <a href="">Light Eyes</a>
  </div>
  <!-- <div class="menu-buttons">
    <button mat-icon-button class="person_pin" aria-label="Example icon-button with profile icon">
      <mat-icon> person_pin</mat-icon>
    </button>
    <button mat-icon-button class="more_vert" aria-label="Example icon-button with menu icon">
        <mat-icon>more_vert</mat-icon>
    </button>
  </div> -->
</mat-toolbar>