@import '../../../styles/mixins';

:host{
    @include layout-position;
    display: flex;
    flex-direction: row;
}

.checklist{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
    button{
        width: 950%;
        height: 8vh;
        // margin: 1em;
        background-color: white;
        color: #7C6BA7;
    }
    
    // .checklist-container-card{
    //     display: flex;
    //     flex-direction: row;
    //     margin: 1em;
    //     gap: 2em;
    // }
