// @import '../../../styles/mixins';

// :host{
//     @include layout-position;
//     display: flex;
//     flex-direction: row;
//     height: fit-content;
// }

mat-stepper{
    padding: 2em;
    border-radius: 2em;
    box-shadow: 0.1em 0.1em 0.1em 0.1em rgb(182, 180, 180);
    background-color: white;
    width: 75vw;
    margin-top: 1em;
    button{
      color: #493971;
    }
  }