:root {
    --backround-grey: red;
}

.grid-container {
    display: grid;
    grid-template-areas:
      "header header"
      "aside main";
    grid-template-rows: auto 1fr;
    grid-template-columns: 200px 1fr;
    height: 100vh;
  }
  
  .header {
    grid-area: header;
  
  }
  
  .aside {
    grid-area: aside;
    background-color: var(--backround-grey);
    border: solid, 1px red;
    
  }
  
  #main{
    grid-area: main;
  }
  
  .router{
    display: hidden;
  }