
table {
    width: 80vw;
    padding: 2em;
    border-radius: 1em;
    box-shadow: 0.1em 0.1em 0.1em 0.1em rgb(182, 180, 180);
    background-color: white;
    margin-top: 1em;
}

th {
    font-weight: bold;
}

a{
    text-decoration: none;
    color: black;
    text-align: center;
}
