.new-question-form{
    display: flex;
    flex-direction: column;
    padding: 2em;
    border-radius: 1em;
    border: 1px solid rgba(171, 171, 171, 0.696);

    .question-input{
        height: 3%
    }

    .answer-container{
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 3em;

        .answer-selector{
            width: 8%;
            height: 3%;
        }

        .answer-input{
            width: 90%;
            height: 3%;

            #text-area{
                height: 1em;
            }
        }
    }

    .buttons-container{
        width: 100%;
        display: flex;
        align-items: end;
        justify-content: end;
    }

    .buttons{
        display: flex;
        flex-direction: row;
        gap:1em;
        width: 45%;
        justify-content: center;

        button{
            color: #323233;
            width: 35%;

            span{
                font-weight: bold;
            }
        }
    }
}
