<form class="new-question-form">
  <mat-form-field class="question-input">
    <mat-label>{{ questionCounter }}</mat-label>
    <mat-label>Include a new question or checklist item</mat-label>
    <textarea matInput placeholder="Ex. Procedimientos de Operación Documentados... "></textarea>
  </mat-form-field>
<mat-form-field class="answer-selector">
  <mat-label>Answer</mat-label>
  <mat-select>
    @for (signselector of signselectors; track signselector) {
      <mat-option [value]="signselector.value">{{signselector.viewValue}}</mat-option>
    }
  </mat-select>
</mat-form-field>
<mat-form-field class="answer-input">
  <mat-label>Introduce the answer</mat-label>
  <textarea matInput placeholder="Ex. . Cumplimiento: Sí, tienen procedimientos operativos documentados. "></textarea>
</mat-form-field>
<div>
<mat-form-field class="answer-selector">
<mat-label>Answer</mat-label>
<mat-select>
  @for (signselector of signselectors; track signselector) {
    <mat-option [value]="signselector.value">{{signselector.viewValue}}</mat-option>
  }
</mat-select>
</mat-form-field>
<mat-form-field class="answer-input">
<mat-label>Introduce the answer</mat-label>
<textarea matInput placeholder="Ex. . Cumplimiento: Sí, tienen procedimientos operativos documentados. "></textarea>
</mat-form-field></div>
<button (click)="addNewAnswer()" mat-fab extended>
<mat-icon>edit</mat-icon>
Add New answer
</button>
<button (click)="addNewQuestion()" mat-fab extended>
<mat-icon>edit</mat-icon>
 Add new Question
</button>
<button mat-fab extended>
<mat-icon>edit</mat-icon>
Save question and FINISH CHECKLIST
</button>
