.new-question-form{
    display: flex;
    flex-direction: column;
    padding: 2em;
    border-radius: 1em;
    border: 1px solid rgba(171, 171, 171, 0.696);

    .question-input{
        height: 3%
    }

    .answer-container{
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 3em;

        .answer-selector{
            width: 8%;
            height: 3%;
        }

        .answer-input{
            width: 90%;
            height: 3%;

            .text-area{
                height: 3%;
            }
        }
    }

    .buttons{
        display: flex;
        flex-direction: column;
        gap:1em;
        width: 35%;
        justify-content: center;
        // align-items: center;

        button{
            border-radius: 2em;
            // background-color: #7C6BA7;
            border: solid 2px #7C6BA7;
            background-color: transparent;
            color: #323233;
        }
    }
}
