<form class="new-question-form">
    <span>{{ questionNumber }}</span>
    <mat-form-field class="question-input">
      <mat-label>Include a new question or checklist item</mat-label>
      <!-- <mat-label>{{ questionCounter }}</mat-label> -->
      <textarea matInput placeholder="Ex. Procedimientos de Operación Documentados... " id="text-area"></textarea>
    </mat-form-field>
    <div class="answer-container">
      <mat-form-field class="answer-selector">
        <mat-label>Answer</mat-label>
        <mat-select>
          @for (signselector of signselectors; track signselector) {
            <mat-option [value]="signselector.value">{{signselector.viewValue}}</mat-option>
          }
        </mat-select>
    </mat-form-field>
    
      <mat-form-field class="answer-input">
        <mat-label>Introduce the answer</mat-label>
        <textarea matInput placeholder="Ex. . Cumplimiento: Sí, tienen procedimientos operativos documentados. " id="text-area"></textarea>
      </mat-form-field>
    </div>

<div class="answer-container">
  <mat-form-field class="answer-selector">
    <mat-label>Answer</mat-label>
    <mat-select>
      @for (signselector of signselectors; track signselector) {
        <mat-option [value]="signselector.value">{{signselector.viewValue}}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field class="answer-input">
    <mat-label>Introduce the answer</mat-label>
    <textarea matInput placeholder="Ex. . Cumplimiento: Sí, tienen procedimientos operativos documentados. " id="text-area"></textarea>
  </mat-form-field>

    
  <button mat-raised-button > 
    <mat-icon>edit</mat-icon>
    Save answer
  </button>
</div>

</form>

