<mat-sidenav-container>

  <mat-sidenav-content class="sidenav" position="stat">
    <div class="top-buttons">
      <!-- <button mat-flat-button routerLinkActive="active" routerLink='/dashboard' class="dashboard-button"><mat-icon>home</mat-icon>Dashboard</button> -->
      <button mat-flat-button routerLinkActive="active" [routerLink]="['/checklists']" class="checklists-button"><mat-icon>playlist_add_check</mat-icon>Checklists</button>
      <button mat-flat-button routerLinkActive="active" [routerLink]="['/reports']"><mat-icon> insert_drive_file</mat-icon>Reports</button>
    </div>
    <div class="logout-button">
      <button mat-flat-button class="logoutBut" (click)="onLogout()"><mat-icon>exit_to_app</mat-icon>Log out</button>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
