.grid-container {
    display: grid;
    grid-template-areas:
      "header header"
      "aside main";
    grid-template-rows: auto 1fr;
    grid-template-columns: 18vw 1fr;
    height: 100vh;
  }

  .header {
    grid-area: header;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    // height: auto;
    z-index: 2; /* Ensure it's above other content */

  }

  .aside {
    grid-area: aside;
    position: fixed;
    height: 87%;
    // top: 0;
    bottom: 1em;
    z-index: 2; /* Ensure it's above the main content */

  }

  #main{
    grid-area: main;
  }

  .router{
    display: hidden;
  }
