<div class="new-question-form">
    <div class="counter-question-container">
        <div class="counter">
          <span>{{ questionNumber }}</span>
        </div>
<div class="question-input"></div>
    <div class="question" [formGroup]="questionForm">
        <mat-label>Include a new question or item</mat-label>
        <input formControlName="content" placeholder="Include a new question or checklist item">
        <div formArrayName="answers">
          @for (answer of answers.controls; track $index) {
            <app-checklist-answ [answerForm]="getAnswerFormGroup($index)"></app-checklist-answ>
          }
        </div>
        <button (click)="addAnswer()">Add new answer</button>
      </div>

</div>


<!-- 
  <form class="new-question-form">
    <div class="counter-question-container">
      <div class="counter">
        <span>{{ questionNumber }}</span>
      </div>
      <mat-form-field class="question-input">
        <mat-label>Include a new question or item</mat-label>
        <textarea matInput placeholder="Ex. Procedimientos de Operación Documentados... " id="text-area"></textarea>
      </mat-form-field>
    </div>
    <div class="answer-container">
    <div class="selector-input-container">
        <mat-form-field id="answer-selector">
          <mat-label>Answer</mat-label>
          <mat-select>
            @for (signselector of signselectors; track signselector) {
              <mat-option [value]="signselector.value">{{signselector.viewValue}}</mat-option>
            }
          </mat-select>
      </mat-form-field>
      
        <mat-form-field id="answer-input">
          <mat-label>Introduce the answer</mat-label>
          <textarea matInput placeholder="Ex. . Cumplimiento: Sí, tienen procedimientos operativos documentados. " id="text-area"></textarea>
        </mat-form-field>
      </div>
    
  
  
    <div class="selector-input-container">
      <mat-form-field id="answer-selector">
        <mat-label>Answer</mat-label>
        <mat-select>
          @for (signselector of signselectors; track signselector) {
            <mat-option [value]="signselector.value">{{signselector.viewValue}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
  
      <mat-form-field id="answer-input">
        <mat-label>Introduce the answer</mat-label>
        <textarea matInput placeholder="Ex. . Cumplimiento: Sí, tienen procedimientos operativos documentados. " id="text-area"></textarea>
      </mat-form-field>
    </div>
  
    <ng-template #answerContainer><app-checklist-answer></app-checklist-answer></ng-template>
  </div>
  
  </form>
  
   -->