mat-toolbar {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    span {
      flex: 1;
    }
    button#more_vert {
      margin-left: auto;
    }
  }
  


  #eagle{
    width: 25px;
    height: auto;
  }