<mat-card>
  <mat-card-content>
    <div>
      <h3>Title: {{ title }}</h3>
      <h2>Description: {{ description }}</h2>
    </div>
    <h2 class="example-h2">Complete the checklist</h2>
    <section class="example-section">
      @for (question of checklistData?.checkListItems; track question.checkListItemId; let idx = $index) {
        <h3>{{ idx + 1 }}.{{ question.content }}</h3>
        <mat-radio-group [(ngModel)]="selectedOptions[question.content]" (change)="onOptionSelected(question.content, selectedOptions[question.content])">
          @for (option of question.checkListItemOptions; track option.checkListItemOptionId) {
            <mat-radio-button [value]="option.content" [checked]="selectedOptions[question.content] === option.content">
              <mat-icon>{{ isPositive(option) ? 'check_circle' : 'cancel' }}</mat-icon>
              {{ option.content }}
            </mat-radio-button>
          } @empty {
            <p>No options available.</p>
          }
        </mat-radio-group>
      } @empty {
        <p>No checklist items available.</p>
      }
    </section>
  </mat-card-content>
</mat-card>