
<table mat-table [dataSource]="checkList" class="mat-elevation-z8">

  <ng-container matColumnDef="checkListId">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let checklist"><a [routerLink]="['item/', checklist?.checkListId]"><span>{{checklist?.checkListId}}</span></a></td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> <p>Name</p> </th>
    <td mat-cell *matCellDef="let checklist"><a [routerLink]="['item/', checklist?.checkListId]"> <p>{{checklist.name}}</p></a> </td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> <p>Description</p> </th>
    <td mat-cell *matCellDef="let checklist"><a [routerLink]="['item/', checklist?.checkListId]"> <p>{{checklist.description}}</p></a> </td>
  </ng-container>

  <ng-container matColumnDef="language">
    <th mat-header-cell *matHeaderCellDef> <p>Language</p> </th>
    <td mat-cell *matCellDef="let checklist"><a [routerLink]="['item/', checklist?.checkListId]"> <p>{{checklist.language}}</p></a> </td>
  </ng-container>

  <ng-container matColumnDef="createdDate">
    <th mat-header-cell *matHeaderCellDef> <p>Date</p> </th>
    <td mat-cell *matCellDef="let checklist"><a [routerLink]="['item/', checklist?.checkListId]"> <p>{{checklist.createdDate}}</p></a> </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
