.answer-option{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1em;

    .answer-input{
        width: 59vw;
        height: 3em;
        background-color: #E8E0EB;
        border: 0;
        border-bottom: 1.5px solid rgba(59, 58, 58, 0.456);
        border-radius: 0.5em 0.5em 0 0;
        font-size: 1em;
        text-indent: 0.7em;
        
    }

    .option-selector{
        background-color: #E8E0EB;
        border: 0;
        border-bottom: 1.5px solid rgba(59, 58, 58, 0.456);
        border-radius: 0.5em 0.5em 0 0;
        font-size: 1em;
        width: 4em;
        text-indent: 0.5em;

    }
}

.answer-input:focus{
    border: 0;
}