#toggle-linear{
  margin-top: 2em;
  margin-left: 2em;
  color: #493971;
}


mat-stepper{
  padding: 2em;
  border-radius: 2em;
  box-shadow: 0.1em 0.1em 0.1em 0.1em rgb(182, 180, 180);
  background-color: white;
  margin: 2em;
  border: 3px solid orange;

  button{
    color: #493971;
  }
  .custom-form-field {
    width: 100%;
    height: 19em;
  
    .description-box {
    width: 100%;
    }
  }
  
  .mat-form-field-flex {
    align-items: start;
  }
  
  .language-title-container{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.containers{
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 3px solid blue;

  .question-container{
      border-radius: 1em;
      border: 1px solid rgba(171, 171, 171, 0.696);
      padding-right: 2em;
      padding-left:2em;
      padding-top: 2em;
      margin-bottom: 2em;
  }
  .answers-container{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .buttons-container{
    width: 100%;
    display: flex;
    justify-content: end;
    padding-bottom: 1em;
  }
  
  .buttons{
    display: flex;
    flex-direction: row;
    gap:1em;
    justify-content: center;
  
    button{
        color: #323233;
    }
  }
}

.remove-button{
  color: #323233;
  border: 0;
  border-radius: 3em;
  font-weight: bold;
  background-color:#F5EBFF;
  width: 13em;
  height: 2em;
  font-size: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.buttons-end{
  display: flex;
  width: 100%;
  justify-content: end;
  gap: 1em;
}
.add-button{
 width: 25%;
}

.save-button{
  width: 14vw;
}