stepper HTML:
<button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
    {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
  </button>
  <mat-stepper [linear]="isLinear" #stepper>
    <mat-step>
        <ng-template matStepLabel>Add Title and language</ng-template>
    <h1>Title</h1>
        <form  [formGroup]="checkListForm" class="language-title-container">

            <mat-form-field>
                <mat-label>Title</mat-label>
                    <input matInput formControlName="title" placeholder="Introduce a tittle for the checklist" required class="description-box">
                </mat-form-field>
                
            <mat-form-field>
                <mat-label>Select checklist language</mat-label>
                    <select formControlName="language" matNativeControl required>
                        <option value="true">Català</option>
                        <option value="false">Castellano</option>
                    </select>
              </mat-form-field>
        </form> 

        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
    
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Add description</ng-template>
        <h1>Description</h1>    
        <form [formGroup]="checkListForm">
            <mat-form-field class="custom-form-field">
              <mat-label>Checklist description / summary</mat-label>
              <input matInput formControlName="description" placeholder="Provide an introduction for the checklist" required class="description-box">
            </mat-form-field>
            <div>

        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
    <mat-step>
            <ng-template matStepLabel>Add Questions</ng-template>
        <div class="containers"> <form [formGroup]="checkListForm">
          <div class="question-container" formArrayName="questions">
            <!-- questions are the get function that returns all questions from ts file -->
            @for (question of questions.controls; track $index) {
              <app-checklist-ques [questionForm]="getQuestionFormGroup($index)"></app-checklist-ques>
              <button mat-icon-button color="warn" (click)="removeQuestion($index)" class="remove-button">
                <mat-icon>delete</mat-icon>Delete Question
              </button>
            }
          </div>
        </form>
        <div class="buttons-end">
        <button mat-raised-button (click)="addQuestion()" class="add-button"><mat-icon>edit</mat-icon>ADD NEW QUESTION</button>
        <button mat-raised-button (click)="saveChecklist()" class="save-button">SAVE CHECKLIST</button>
        </div>
            </div>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
