
.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-mdc-form-field {
    margin-top: 16px;
  }
.language-title-container{
  display: flex;
  flex-direction: column;
}
.description-input{
  width: 95%;
}
