<p>checklist-generator works!</p>
<button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
    {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
  </button>
  <mat-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Language & Title</ng-template>
        <h4>Create a new Checklist</h4>
<mat-form-field>
  <mat-label>Select checklist language</mat-label>
  <mat-select>
    @for (language of languages; track languages) {
      <mat-option [value]="language.value">{{language.viewValue}}</mat-option>
    }
  </mat-select>
</mat-form-field>
        <mat-form-field>
          <mat-label>Checklist title</mat-label>
          <input matInput placeholder="Checklist title" formControlName="firstCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Checklist description / summary">
        <mat-label>Checklist description or summary</mat-label>
        <form [formGroup]="secondFormGroup">
        <mat-form-field>
          <mat-label>Checklist description / summary</mat-label>
          <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                 required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-stepper>
  