@import '../../../../../app/styles/mixins';


    // @include layout-position;

// button .mat-raised-button{
//   color: #493971;

// button mat-raised-button

#toggle-linear{
  margin-bottom: 2em;
}

.custom-form-field {
  width: 100%;
  height: 19em;

  .description-box {
  width: 100%;
  }
}

.mat-form-field-flex {
  align-items: start;
}

.language-title-container{
  display: flex;
  flex-direction: column;
}

mat-stepper{
  padding: 2em;
  border-radius: 2em;
  box-shadow: 0.1em 0.1em 0.1em 0.1em rgb(182, 180, 180);
  background-color: white;

  button{
    color: #493971;
  }
}

// ::ng-deep .mat-step-header .mat-step-icon-selected {
//   background-color: #7C6BA7; 
// }

// ::ng-deep .mat-step-header{
//   border-bottom: #493971 2px solid;
// }

// .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
//   background-color: transparent !important;
//   color: $success;
//   +.mat-step-label{
//     color: $success !important;
//   }