#toggle-linear{
  margin-bottom: 2em;
}

.custom-form-field {
  width: 100%;
  height: 19em;

  .description-box {
  width: 100%;
  }
}

.mat-form-field-flex {
  align-items: start;
}

.language-title-container{
  display: flex;
  flex-direction: column;
}

mat-stepper{
  padding: 2em;
  border-radius: 2em;
  box-shadow: 0.1em 0.1em 0.1em 0.1em rgb(182, 180, 180);
  background-color: white;
}